*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
main{
    background-image: url(../images/convite150624.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 2200px;
    }
    header{
        height:320px;
        padding:100px;
        padding-bottom: 40px;

    }
.header{
    background-color: #ccc;
    background-image: linear-gradient(rgb(233, 173, 173),#b54f4ffd);
    text-align: center;
    color: rgba(73, 51, 3, 0.775);
    .data1{
    margin-top:50px;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
    #horaCero{
        font-size: 45px;
        font-weight: 700;
    }
}
.data2{
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 20px;    
}
}
.banner{
    max-width: 100%;
    padding-left: 20px;
    padding-top: 400px;
    color:#777;
    position: relative;
    p{
        margin-bottom: 100px;
        font-size: 36px;
        font-weight: 600;
        text-align: start;
        padding:5px;
        margin-top: 20px;
        display: none;
    }
    img{
        max-width: 250px;
        width:100%;
        opacity: .7;
        border: 2px solid transparent;
        border-radius: 8px;
    }
    &__images{
        display:flex;
        justify-content: space-between;
        
        @media(max-width:612px){
            flex-direction: column;
        }
    }
}
.convite{
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    position: sticky;
    top:720px;
    width: 100%;

    button{
        background-color: transparent;
        border:4px solid rgba(250, 250, 5, 0.921);
        border-radius: 8px;
        padding: 5px;
        color:#eee;
        cursor: pointer;
        &:hover{
            background-color: rgba(250, 250, 5, 0.921);
            color:#000;
            border-color: #000;
        }
        
    }
}
@media(max-width:602px){
    .data1{
        color:#eee;
        font-size: 18px;
        line-height: 25px;
    }
    #horaCero{
        font-size: 20px;
    }
    main{
        max-width: 98vw;
        background-repeat:unset;
    }
}